<section>
  <mat-grid-list cols="2">

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Pet Profile</mat-card-title>
        <mat-card-content>
          <form action="#">
            <p>
              <mat-form-field appearance="outline">
                <mat-label [id]="name">Pet name</mat-label>
                <input matInput placeholder="Just a placeholder..." type="text" [name]="name" [id]="name"
                       (input)="setName($event)">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label [id]="image">Image</mat-label>
                <input matInput type="url" placeholder="Enter image URL" [name]="image" [id]="image"
                       (change)="setImage($event)">
              </mat-form-field>
            </p>
          </form>
        </mat-card-content><!-- /.mat-card-content -->
      </mat-card><!-- /.mat-card -->

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title [textContent]="name">Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Bread</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="image" alt="Pet">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">LIKE</button>
          <button mat-raised-button color="primary">SHARE</button>
        </mat-card-actions>
      </mat-card><!-- /.card -->
    </mat-grid-tile>

  </mat-grid-list>
</section>
